
html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    background: -webkit-radial-gradient(center, ellipse cover, rgba(236,232,157,1) 0%,rgba(94,83,115,1) 50%,rgb(47, 65, 63) 100%);
}

.all-back {
    width: 1341px;
    height: 1900px;
    background: url('../img/back2.jpg');
    display: flex;
    box-shadow: #1e2939;
    border-radius: 20px;
    margin: 20px auto;
}

.img-foto {
    margin: 40px 0 0 40px;
    height: 370px;
    width: 370px;
    border-radius: 400px;
}

.side-cont {
    margin: 450px 0 0 -300px;
    width: 250px;
    height: 370px;
    background-color: #1e2939;
    border-radius: 45px;
    opacity: 70%;
    padding: 20px 10px 0 20px; 
    color: #ffffff;
    padding-left: 30px;

}

.tech-tit {
    font-size: 22px;
    line-height: 24px;
    color: #ffffff;
}


.all {
    padding-left: 90px;
    padding-top: 110px;
    padding-right: 90px;
    padding-bottom: 90px;
}

.title {
    margin-left: 70px;
}

.contacts {
    margin: -200px 0px 0px 450px ;
    width: 350px;
    padding: 10px 10px 40px 40px ;
    background-color: #1e2939;
    opacity: 70%;
    border-radius: 45px;
    color: #ffffff;
}

.cont-tit {
    color: #ffffff;
    font-size: 40px;
    margin-bottom: 20px;
    padding-left: 20px;
}
    
.svg {
    height: 25px;
    width: 25px;
    margin-top: 5px;
}
    
.cont-link {
    font-size: 19px;
    font-weight: 400;
    line-height: 24px;
    color: #ffffff;
}
        
.mf {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 24px;
    width: 600px;
    padding: 10px 10px 10px 40px ;
    background-color: #1e2939;
    opacity: 70%;
    border-radius: 45px;
    color: #ffffff;
    margin-top: 100px;
    margin-left: 100px;
}

.a {
    color: #ffffff; 
}
    
.education {
    margin-left: 100px;
    padding: 10px 10px 10px 40px ;
    background-color: #1e2939;
    opacity: 70%;
    border-radius: 45px;
    color: #ffffff;
    width: 650px;
}

.exp {
    width: 650px;
    margin-top: 90px;
    padding: 20px;
    padding-left: 40px;
    background-color: #1e2939;
    opacity: 70%;
    border-radius: 45px;
    color: #ffffff;
}

.end {
    margin-top: 50px;
    height: 400px;
    width: 800px;
    margin-left: -100px;
}

.Dream {
    font-size: 30px;
    margin-left: 200px;
    color: azure;
}

.container {
    width: 100%;
    display: flex;
    padding: 0 20px ;
}

.slide {
    height: 150px;
    border-radius: 45px;
    margin: 10px;
    cursor: pointer;
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition: all 500ms ease-in-out;
}

.slide h3 {
    color:  rgb(255, 255, 255);
    position:absolute ;
    font-size: 24px;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.slide.active{
    flex:10;
}

.slide.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}
